
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
a{
  text-decoration: none;
}
:root{
  --heading-font: 'Fraunces', serif;
  --main-color-dark: #162E3C;
  --main-color-light: #DDF0A7;
  --color-font:#49616E;
}

body{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}
.container{
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}
.header__top{
  background-color: var(--main-color-light);
}
.header__top-text{
  font-size: 15px;
  line-height: 24px;
  color: var(--main-color-dark);
  padding: 12px;
  text-align: center;
}
.cross{
  position: absolute;
	top: 12px;
	right: 20px;
	width: 24px;
	height: 24px;
	cursor: pointer;
  transition: opacity ease 0.5s;
}
.cross:hover{
  opacity: .6;
}
.cross::before,
.cross::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 24px;
	height: 3px;
	background: #000;
}

.cross::before {
	transform: rotate(45deg);
}

.cross::after {
	transform: rotate(-45deg);
}
.header__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
.header__list{
  display: flex;
  justify-content: space-between;
}
.header__list{
  list-style: none;
}
.header__link{
  color: var(--main-color-dark);
  margin-right: 32px;
  transition: all .5s;
}
.header__link:hover{
  text-decoration: underline;
}
.header-btn-light,
.header-btn-dark{
  padding: 10px 22px;
  border: 2px solid var(--main-color-dark);
  border-radius: 64px;
}

.header-btn-dark{
  background-color: var(--main-color-dark);
  color: #fff;
}

.first-page{
  background-color: var(--main-color-dark);
  background-image: url(img/first-page-decor1.svg),  url(img/first-page-decor3.svg);
  background-repeat: no-repeat;
  background-position: 0 100px;
  height: 100vh;
/*   
  background-image: url(img/first-page-decor1.svg), url(img/first-page-decor3.svg);
  background-repeat: no-repeat;
  background-position: 0px 100px ;
  background-repeat: no-repeat;
  background-position: 0px 260px ; */
}
.first-page__title{
  font-family: 'Fraunces';
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 95px;
  max-width: 695px;
  margin: 0 auto 26px;
}
.first-page__subtitle{
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  max-width: 713px;
  margin:0 auto 38px;
}
.buttons{
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}
.btn-light{
  padding: 14px 26px;
  background: var(--main-color-light);
  border: 2px solid var(--main-color-light);;
  border-radius: 64px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: var(--main-color-dark);
  margin-right: 32px;
  transition: all .3s;
}
.btn-dark{
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 16px;
  position: relative;
  transition: all .3s;
}
.btn-dark::after{
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  margin-top: 5px;
  margin-left: 10px;
}
.btn-light:hover,
.btn-dark:hover{
  text-decoration: underline;
}
.first-page__row{
  display: flex;
  justify-content: center;
}
.first-page__img{
  margin-right: 34px;
  margin-bottom: 136px;
}
.first-page__wrapper{
  position: relative;
  padding-bottom: 100px;
}
.first-page__main-img{
  max-width: 1280px;
  display: block;
  margin: 0 auto;
}
.btn-first-page{
  position: absolute;
  top: 50%;
  left: calc(50% - 100px);
}

.speed__wrapper{
  padding-top: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
/* .speed__img{
  position: relative;
} */
.speed__path{
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color-light);
  border-radius: 24px;
  padding: 24px;
  max-width: 420px;
  position: relative;
  z-index: 3;
  bottom: 168px;
  left: 230px;
  /* margin-top: -168px;
  margin-right: 300px; */
}
.speed__text{
  font-size: 20px;
  line-height: 30px;
  color: var(--main-color-dark);
}
.speed__text span{
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}